page-registro {
    .Estilos_Formulario{
        font-size: 14px;
        color:#000000;
        text-align:center;
        top: -10px
     }
     button:focus{
        color:#000000;
        background-color: #81d4fa;
     }
}
